$icomoon-font-family: "bwi-font" !default;
$icomoon-font-path: "fonts" !default;

// Updated font sheet? Copy the new variables and replace the items below 
$bwi-bw-folder-open-f: "\e93e";
$bwi-desktop: "\e96a";
$bwi-angle-left: "\e96b";
$bwi-user: "\e900";
$bwi-user-f: "\e901";
$bwi-key: "\e902";
$bwi-share-square: "\e903";
$bwi-hashtag: "\e904";
$bwi-clone: "\e905";
$bwi-list-alt: "\e906";
$bwi-id-card: "\e907";
$bwi-credit-card: "\e908";
$bwi-globe: "\e909";
$bwi-sticky-note: "\e90a";
$bwi-folder: "\e90b";
$bwi-lock: "\e90c";
$bwi-lock-f: "\e90d";
$bwi-generate: "\e90e";
$bwi-generate-f: "\e90f";
$bwi-cog: "\e910";
$bwi-cog-f: "\e911";
$bwi-check-circle: "\e912";
$bwi-eye-2: "\e913";
$bwi-pencil-square: "\e914";
$bwi-bookmark: "\e915";
$bwi-files: "\e916";
$bwi-trash: "\e917";
$bwi-plus: "\e918";
$bwi-star: "\e919";
$bwi-list: "\e91a";
$bwi-angle-right: "\e91b";
$bwi-external-link: "\e91c";
$bwi-refresh: "\e91d";
$bwi-search: "\e91f";
$bwi-filter: "\e920";
$bwi-plus-circle: "\e921";
$bwi-user-circle: "\e922";
$bwi-question-circle: "\e923";
$bwi-cogs: "\e924";
$bwi-minus-circle: "\e925";
$bwi-send: "\e926";
$bwi-send-f: "\e927";
$bwi-download: "\e928";
$bwi-pencil: "\e929";
$bwi-sign-out: "\e92a";
$bwi-share: "\e92b";
$bwi-clock: "\e92c";
$bwi-angle-down: "\e92d";
$bwi-caret-down: "\e92e";
$bwi-square: "\e92f";
$bwi-collection: "\e930";
$bwi-bank: "\e931";
$bwi-shield: "\e932";
$bwi-stop: "\e933";
$bwi-plus-square: "\e934";
$bwi-save: "\e935";
$bwi-sign-in: "\e936";
$bwi-spinner: "\e937";
$bwi-dollar: "\e939";
$bwi-check: "\e93a";
$bwi-check-square: "\e93b";
$bwi-minus-square: "\e93c";
$bwi-close: "\e93d";
$bwi-share-arrow: "\e96c";
$bwi-paperclip: "\e93f";
$bwi-bitcoin: "\e940";
$bwi-cut: "\e941";
$bwi-frown: "\e942";
$bwi-folder-open: "\e943";
$bwi-bug: "\e946";
$bwi-chain-broken: "\e947";
$bwi-dashboard: "\e948";
$bwi-envelope: "\e949";
$bwi-exclamation-circle: "\e94a";
$bwi-exclamation-triangle: "\e94b";
$bwi-caret-right: "\e94c";
$bwi-file-pdf: "\e94e";
$bwi-file-text: "\e94f";
$bwi-info-circle: "\e952";
$bwi-lightbulb: "\e953";
$bwi-link: "\e954";
$bwi-linux: "\e956";
$bwi-long-arrow-right: "\e957";
$bwi-money: "\e958";
$bwi-play: "\e959";
$bwi-reddit: "\e95a";
$bwi-refresh-tab: "\e95b";
$bwi-sitemap: "\e95c";
$bwi-sliders: "\e95d";
$bwi-tag: "\e95e";
$bwi-thumb-tack: "\e95f";
$bwi-thumbs-up: "\e960";
$bwi-unlock: "\e962";
$bwi-users: "\e963";
$bwi-wrench: "\e965";
$bwi-ban: "\e967";
$bwi-camera: "\e968";
$bwi-chevron-up: "\e969";
$bwi-eye-slash-2: "\e96d";
$bwi-file: "\e96e";
$bwi-paste: "\e96f";
$bwi-github: "\e950";
$bwi-facebook: "\e94d";
$bwi-paypal: "\e938";
$bwi-google: "\e951";
$bwi-linkedin: "\e955";
$bwi-discourse: "\e91e";
$bwi-twitter: "\e961";
$bwi-youtube: "\e966";
$bwi-windows: "\e964";
$bwi-apple: "\e945";
$bwi-android: "\e944";

