
<ng-container *ngIf="!usesCryptoAgent">
    <label for="masterPassword">{{'masterPass' | i18n}}</label>
    <input id="masterPassword" type="password" name="MasterPasswordHash" class="form-control"
        [formControl]="secret" required appAutofocus appInputVerbatim>
</ng-container>
<ng-container *ngIf="usesCryptoAgent">
    <p>{{'verificationCodeDesc' | i18n}}</p>
    <label for="verificationCode">{{'verificationCode' | i18n}}</label>
    <input id="verificationCode" type="input" name="verificationCode" class="form-control"
        [formControl]="secret" required appAutofocus appInputVerbatim>
</ng-container>
