<ng-container *ngIf="!usesKeyConnector">
    <label for="masterPassword">{{'masterPass' | i18n}}</label>
    <input id="masterPassword" type="password" name="MasterPasswordHash" class="form-control"
        [formControl]="secret" required appAutofocus appInputVerbatim>
</ng-container>
<ng-container *ngIf="usesKeyConnector">
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Request one-time password" (click)="requestOtp()"
            [disabled]="disableRequestOtp">
    </div>

    <div class="form-group">
        <label for="verificationCode">{{'verificationCode' | i18n}}</label>
        <input id="verificationCode" type="input" name="verificationCode" class="form-control"
            [formControl]="secret" required appAutofocus appInputVerbatim>
    </div>
</ng-container>
